* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

canvas {
    background-color: black;
}

button {
    cursor: pointer;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}