* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    background-image: url('./assets/img/screen-elements/fauna.webp');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.wrapper {
    min-height: 100svh;

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.content-limit-1920p {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media screen and (min-width: 1921px) {
    .content-limit-1920p {
        padding-inline: calc(50% - 1920px / 2);
    }
}

.deko-element {
    position: absolute;
    pointer-events: none;
}

.dark-chicken {
    left: 20%;
    bottom: calc(46% - 6.6% * 100vw / 100vh);
    height: auto;
    width: 10%;
    animation: slender 40s ease-in-out infinite;
}

.bar-chicken {
    width: 40%;
    object-fit: contain;
    left: 0;
    bottom: 0;
    z-index: 10;
}

.town-chicken {
    right: -20%;
    bottom: 0;
    object-fit: contain;
    width: 60%;
    z-index: 11;
}

.sombrero {
    width: 25%;
    height: auto;
    object-fit: contain;
    right: 30%;
    bottom: 0%;
    z-index: 12;
    transform-origin: bottom center;
    animation: shake 5s ease-in-out infinite;
}

.feather {
    z-index: 111;
    width: 15%;
    height: auto;
    bottom: 0;
    right: 30%;
}

.delay-1 {
    animation: spit 5s ease-in-out infinite;
    animation-delay: 0;
}

.delay-2 {
    animation: spit-2 5s ease-in-out infinite;
    animation-delay: 100ms;
}

.delay-3 {
    animation: spit 5s ease-in-out infinite;
    animation-delay: 2200ms;
}

.delay-4 {
    animation: spit-2 5s ease-in-out infinite;
    animation-delay: 2300ms;
}

.delay-5 {
    animation: spit 5s ease-in-out infinite;
    animation-delay: 2400ms;
}

.papel-picado {
    position: absolute;
    z-index: 13;
    height: 100%;
    min-width: 100%;
    object-fit: fill;

    top: -25px;

    pointer-events: none;
    transform-origin: top center;
    animation: wind 10s ease-in-out infinite alternate;
}

canvas {
    background-color: black;
    border-radius: 50px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.headline {
    height: 15svh;
    width: auto;
    max-width: 90svw;
    object-fit: contain;
    z-index: 15;

    mask: linear-gradient(-60deg, white 30%, rgba(255, 255, 255, 0.333), white 70%) right/350% 100%;
    animation: levitate 5s ease infinite alternate;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* #region instructions-dialog */
dialog {
    display: none;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    margin: auto;

    .dialog-img {
        user-select: none;
    }
}

.dialog-wrapper {
    max-height: 90svh;
    max-width: 90svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    background-color: rgba(217, 217, 217, 0.8);
    backdrop-filter: blur(5px);

    border-radius: 50px;

    font-family: 'Titan One';
    color: rgba(0, 0, 0, 0.5);

    h1 {
        font-size: clamp(28px, calc((100svw - 300px) * 10 / 1140 + 28px), 38px);
    }

    h2 {
        font-size: clamp(22px, calc((100svw - 300px) * 10 / 1140 + 22px), 32px);
    }

    .dialog-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }

    .btn-close-dialog {
        width: var(--size-dialog-close-btn);
        height: var(--size-dialog-close-btn);
        min-width: var(--size-dialog-close-btn);
        min-height: var(--size-dialog-close-btn);
        border-radius: 50%;
        background-color: rgba(217, 217, 217, 0.5);
        right: 30px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        position: absolute;

        img {
            width: 80%;
            height: 80%;
            min-width: 80%;
            min-height: 80%;
            opacity: 0.5;
        }
    }

    .btn-close-dialog:hover {
        background-color: rgba(245, 245, 245, 0.5);
    }

    .instruction-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 40px;
        overflow: auto;
    }

    .section-instructions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .dialog-img {
            width: clamp(200px, 100%, 400px);
            height: clamp(200px, 35svh, 400px);
            min-height: 200px;
            min-width: 200px;
            border: 5px solid black;
            border-radius: 10%;
            padding: 5px;
            opacity: 0.5;
        }
    }
}

.opened {
    display: flex;
}

.opened::backdrop {
    background-color: black;
    opacity: 0.75;
    transition: all 1s ease-in-out;
}

body:has(dialog[open]) {
    overflow: hidden;
}

.dialog-mobile {
    display: inline;
}

.dialog-desktop {
    display: none;
}

@media (hover: hover) {
    .btn-mobile {
        display: none;
    }

    .dialog-mobile {
        display: none;
    }

    .dialog-desktop {
        display: inline;
    }
}

@media screen and (max-width: 350px) {
    .dialog-wrapper {
        max-height: 100svh;
        height: 100svh;
        max-width: 100%;
    }
}

/* #endregion instructions-dialog */

/* #region keyframes */
@keyframes slender {
    0% {
        left: 20%;
        transform: rotateY(0);
    }
    5% {
        left: 20%;
        transform: rotateY(0);
    }
    45% {
        left: -20%;
        transform: rotateY(0);
    }
    50% {
        left: -20%;
        transform: rotateY(180deg);
    }
    95% {
        left: 20%;
        transform: rotateY(180deg);
    }
    100% {
        left: 20%;
        transform: rotateY(0);
    }
}

@keyframes wind {
    0% {
        transform: skewY(-1deg);
    }
    30% {
        transform: rotateX(20deg) skewY(2deg);
    }
    60% {
        transform: skewY(-0.5deg);
    }
    100% {
        transform: rotateX(20deg) skewY(2.5deg);
    }
}

@keyframes shake {
    0% {
        transform: rotateZ(0);
    }
    5% {
        transform: rotateZ(0);
    }
    7% {
        transform: rotateZ(-3deg);
    }
    9% {
        transform: rotateZ(0);
    }

    50% {
        transform: rotateZ(0);
    }
    52% {
        transform: rotateZ(-7deg);
    }
    54% {
        transform: rotateZ(0);
    }
    56% {
        transform: rotateZ(-4deg);
    }
    58% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes levitate {
    0% {
        transform: scale(1) translateY(0);
    }
    100% {
        transform: scale(1.2) translateY(-5px);
    }
}

@keyframes spit {
    0% {
        right: 30%;
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    18% {
        opacity: 1;
    }
    20% {
        right: 5%;
        bottom: 10%;
        transform: rotate(-720deg);
        opacity: 0;
    }
    100% {
        right: 5%;
        bottom: 10%;
        transform: rotate(-720deg);
        opacity: 0;
    }
}

@keyframes spit-2 {
    0% {
        right: 30%;
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    18% {
        opacity: 1;
    }
    20% {
        right: 10%;
        bottom: 5%;
        transform: rotate(-520deg);
        opacity: 0;
    }
    100% {
        right: 10%;
        bottom: 5%;
        transform: rotate(-520deg);
        opacity: 0;
    }
}
/* #endregion keyframes */
