@keyframes slender {
    0% {
        left: 20%;
        transform: rotateY(0);
    }
    5% {
        left: 20%;
        transform: rotateY(0);
    }
    45% {
        left: -20%;
        transform: rotateY(0);
    }
    50% {
        left: -20%;
        transform: rotateY(180deg);
    }
    95% {
        left: 20%;
        transform: rotateY(180deg);
    }
    100% {
        left: 20%;
        transform: rotateY(0);
    }
}

@keyframes wind {
    0% {
        transform: skewY(-1deg);
    }
    30% {
        transform: rotateX(20deg) skewY(2deg);
    }
    60% {
        transform: skewY(-0.5deg);
    }
    100% {
        transform: rotateX(20deg) skewY(2.5deg);
    }
}

@keyframes shake {
    0% {
        transform: rotateZ(0);
    }
    5% {
        transform: rotateZ(0);
    }
    7% {
        transform: rotateZ(-3deg);
    }
    9% {
        transform: rotateZ(0);
    }

    50% {
        transform: rotateZ(0);
    }
    52% {
        transform: rotateZ(-7deg);
    }
    54% {
        transform: rotateZ(0);
    }
    56% {
        transform: rotateZ(-4deg);
    }
    58% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes levitate {
    0% {
        transform: scale(1) translateY(0);
    }
    100% {
        transform: scale(1.2) translateY(-5px);
    }
}

@keyframes spit {
    0% {
        right: 30%;
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    18% {
        opacity: 1;
    }
    20% {
        right: 5%;
        bottom: 10%;
        transform: rotate(-720deg);
        opacity: 0;
    }
    100% {
        right: 5%;
        bottom: 10%;
        transform: rotate(-720deg);
        opacity: 0;
    }
}

@keyframes spit-2 {
    0% {
        right: 30%;
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    18% {
        opacity: 1;
    }
    20% {
        right: 10%;
        bottom: 5%;
        transform: rotate(-520deg);
        opacity: 0;
    }
    100% {
        right: 10%;
        bottom: 5%;
        transform: rotate(-520deg);
        opacity: 0;
    }
}
